html,
body,
header,
.view {
    height: 100%;
}

/* navbar */
.navbar-expand-lg.navbar-dark.scrolling-navbar.top-nav-collapse {
  background: linear-gradient(80deg,#880e4f,#1a237e);
}

/* gradient color */
.gradientmask, .gradientmask:after {
    background: linear-gradient(110deg,rgba(136,14,79,.7),rgba(26,35,126,.7));
}

.gradientsolid, .gradientsolid:after {
    background: linear-gradient(110deg,rgba(136,14,79,1),rgba(26,35,126,1));
}

.md-form input[type=date]:focus:not([readonly]), .md-form input[type=datetime-local]:focus:not([readonly]), .md-form input[type=email]:focus:not([readonly]), .md-form input[type=number]:focus:not([readonly]), .md-form input[type=password]:focus:not([readonly]), .md-form input[type=search-md]:focus:not([readonly]), .md-form input[type=search]:focus:not([readonly]), .md-form input[type=tel]:focus:not([readonly]), .md-form input[type=text]:focus:not([readonly]), .md-form input[type=time]:focus:not([readonly]), .md-form input[type=url]:focus:not([readonly]), .md-form textarea.md-textarea:focus:not([readonly]){
  webkit-box-shadow: 0 1px 0 0 #880e4f;
    box-shadow: 0 1px 0 0 #880e4f;
    border-bottom: 1px solid #880e4f;
}


nav.position-bottom{
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
}


.side-nav {
    position: fixed;
    width: 15rem;
    left: 0;
    top: 0;
    margin: 0;
    height: 100%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  }

  .side-nav.navbar-dark .navbar-nav .nav-item .nav-link {
    color: rgba(255,255,255,1);
  }

  .side-nav.navbar-dark .navbar-nav .nav-item .nav-link:hover {
    color: rgba(255,255,255,.75);
  }

  .side-nav li:hover{
    background-color: rgba(29,54,86,.3);
    transition: all .3s cubic-bezier(0.4, 0, 1, 1);    
}

/* banners */
  .intro-2 {
    background: url("https://placehold.it/2000x2000")no-repeat center center;
    background-size: cover;
  }
  .bg-img{
    background-size:cover;
    height: 250px !important;
  }

  .productbanner{
    background-size: cover !important;
    background-position: center !important;
  }

/* card */
.card.card-image{
   background-size: cover !important;
   background-position-x: center !important;
}

/* button */
.btn-outline-unique{
  box-shadow: 3px 4px 0px 0px rgb(136, 14, 79), 0 0 0 0 rgba(0,0,0,.15);
}
.btn-outline-unique:hover, .btn-outline-unique:active, .btn-outline-unique:focus{
  box-shadow: 0px 0px 0px 0px rgb(136, 14, 79), 0 0 0 0 rgba(0,0,0,.15);
}
/* carousel slider */
  ul#lightSlider {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
  }
  #lightSlider > li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor:pointer;
  }
  #lightSlider > img {
    display: block;
    height: auto;
    max-width: 100%;
  }
